<h1>LOGIN</h1>

<%= form_with(url: sessions_path) do |form| %>
  <%= form.label(:usuario_entrando, "Your Username: ") %>
  <%= form.text_field(:usuario_entrando) %>

  <%= form.submit('Log in') %>
<% end %>
