<h1>Welcome <%= @show_user.username %> </h1>

<h3> Created Events </h3>
<ul>
<% @show_user.event_creator.each do |line| %>
  <li>
    <p> <%= link_to line.name, event_path(line.id) %> </p>
  </li>
<% end %>
</ul>


<h3> Attended Events </h3>
<ul>
<% @upcoming_events.each do |event| %>
  <li>
    <%= link_to event.name, event_path(event.id) %>
  </li>
<% end %>
</ul>


<h3> Will go to </h3>
<ul>
<% @previous_events.each do |event| %>
  <li>
    <%= link_to event.name, event_path(event.id) %>
  </li>
<% end %>
</ul>
