<h1> All Events</h1>

<h3>Events comming</h3>
<% Event.upcoming.each do |evento| %>
  <%= link_to evento.name, event_path(evento.id) %> <br>
<% end %>

<h3>Past Events</h3>
<% Event.past.each do |evento| %>
  <%= link_to evento.name, event_path(evento.id) %> <br>
<% end %>